<div>
    <h1 class="centro">Examen</h1>
    <div class="fullWidth">
        <mat-label for="descripcion" class="text-info titleInput" style="display: inline-block;">Descripción:</mat-label>
        <h2 style="display: inline-block;">&nbsp;{{examen.descripcion}}</h2><br>
        <mat-label for="descripcion" class="text-info titleInput" style="display: inline-block;">Nota Máxima:</mat-label>
        <h2 style="display: inline-block;">&nbsp;{{examen.nota_maxima}}</h2><br>
    </div>
    <h1 class="centro">Preguntas</h1>
    <ng-container *ngFor="let preguntaElement of preguntas">
        <div class="fullWidth">
            <h3 style="display: inline-block;font-weight: bold; margin: 0;">{{preguntaElement.numero_pregunta}}.&nbsp;Tipo:&nbsp;</h3>
            <h3 style="display: inline-block; margin: 0;">{{preguntaElement.tipo}}</h3>
            <br>
            <h3 style="display: inline-block;font-weight: bold; margin: 0;">&nbsp;&nbsp;&nbsp;&nbsp;Descripción:&nbsp;</h3>
            <h3 style="display: inline-block; margin: 0;">{{preguntaElement.descripcion}}</h3>
            <br>
            <h3 style="display: inline-block;font-weight: bold; margin: 0;">&nbsp;&nbsp;&nbsp;&nbsp;Valoración:&nbsp;</h3>
            <h3 style="display: inline-block; margin: 0">{{preguntaElement.valoracion}}</h3>
            <br>
            <ng-template [ngIf]="preguntaElement.imagen">
                <h3 style="display: inline-block;font-weight: bold; margin: 0;">&nbsp;&nbsp;&nbsp;&nbsp;Imagen:&nbsp;</h3>
                <img [src]="preguntaElement.imagen" style="display: inline-block; max-width: 256px; max-height: 256px;">
                <br>
            </ng-template>
            <h3 *ngIf="preguntaElement.opciones" style="display: inline-block;font-weight: bold; margin: 0;">&nbsp;&nbsp;&nbsp;&nbsp;Opciones:&nbsp;
                <ng-container *ngFor="let opcionElement of preguntaElement.opciones; let i = index">
                    <ng-container *ngIf="i === 0; else elseBlockOpciones">
                        <h3 style="display: inline-block;font-weight: bold; margin: 0;">{{opcionElement.letra}}.&nbsp;</h3>
                        <h3 style="display: inline-block; margin: 0;">{{opcionElement.descripcion}}</h3>
                        <br>
                    </ng-container>
                    <ng-template #elseBlockOpciones>
                        <h3 style="display: inline-block;font-weight: bold; margin: 0;">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            {{opcionElement.letra}}.&nbsp;
                        </h3>
                        <h3 style="display: inline-block; margin: 0;">{{opcionElement.descripcion}}</h3>
                        <br>
                    </ng-template>
                </ng-container>
            </h3>
            <ng-template [ngIf]="preguntaElement.respuesta">
                <br>
                <h3 style="display: inline-block; font-weight: bold; margin: 0;">&nbsp;&nbsp;&nbsp;&nbsp;Respuesta:&nbsp;</h3>
                <h3 style="display: inline-block; margin: 0">{{preguntaElement.respuesta}}</h3>
                <br>
            </ng-template>
            <ng-template [ngIf]="preguntaElement.respuestas">
                <br>
                <h3 style="display: inline-block;font-weight: bold; margin: 0;">&nbsp;&nbsp;&nbsp;&nbsp;Respuestas:&nbsp;</h3>
                <ng-container *ngFor="let respuestaElement of preguntaElement.respuestas; let i = index">
                    <ng-container *ngIf="i === 0; else elseBlockRespuestas">
                        <ng-container *ngIf="respuestaElement.checked">
                            <h3 style="display: inline-block; margin: 0">{{respuestaElement}}</h3>
                        </ng-container>
                    </ng-container>
                    <ng-template #elseBlockRespuestas>
                        <ng-container *ngIf="respuestaElement.checked">
                            <h3 style="display: inline-block; margin: 0">,&nbsp;{{respuestaElement}}</h3>
                        </ng-container>
                    </ng-template>
                </ng-container>
                <br>
            </ng-template>
        </div>
        <br>
        <br>
    </ng-container>
    <div style="text-align: center;">
        <button id="cerrarDialog" mat-raised-button type="button" (click)="close()">Cerrar</button>
    </div>
    <br>
    <br>
</div>