


<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" [routerLink]="">
						<img src="../../../assets/idea-principal.svg" style="width: 48px; height: 48px; padding-bottom: 5px;">
						<h1 style="display: inline-block; font-weight: bold;">Principal</h1>
					</a>
				</li>
			</ul>
			<ul class="navbar-nav mx-auto">
				<li class="nav-item active">
					<a class="nav-link">
						<img src="../../../assets/profesor.svg" style="width: 48px; height: 48px;">
						<h1 style="display: inline-block; font-weight: bold; margin-right: 8px;">Profesor:</h1>
						<h2 style="display: inline-block;">Cesar Augusto Díaz</h2>
					</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link">
						<img src="../../../assets/correo.svg" style="width: 48px; height: 48px; padding-bottom: 8px;">
						<h1 style="display: inline-block; font-weight: bold; margin-right: 8px;">Correo:</h1>
						<h2 style="display: inline-block;">black@utp.edu.co</h2>
					</a>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="btn linkNav" (click)="nowhere()">
						<img src="../../../assets/anadir.svg" style="width: 48px; height: 48px; padding-bottom: 5px;">
						<h1 style="display: inline-block; font-weight: bold;">Crear Exámen</h1>
					</a>
				</li>
				<li class="nav-item">
					<a class="btn linkNavSalir" (click)="logOut()">
						<img src="../../../assets/logout.svg" style="width: 48px; height: 48px; padding-bottom: 5px;">
						<h1 style="display: inline-block; margin-left:3px; font-weight: bold; color: palegreen;">Salir</h1>
					</a>
				</li>
			</ul>
		</div>
	</nav>

<section id="services" class="services">
<div class="container">

	<br>
	<div class="section-title" data-aos="fade-up">
	  <h2>EXAMENES</h2>
	</div>

	<div class="row">
	  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
		<div class="icon-box">
		  <div>
			  <img class="img" src="../../../assets/document.png"/>
			</div>
		  <h4><a href="">Lorem Ipsum</a></h4>
		  <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
		</div>
	  </div>

	  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
		<div class="icon-box">
		  <div class="icon"><i class="bx bx-file"></i></div>
		  <h4><a href="">Sed ut perspiciatis</a></h4>
		  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
		</div>
	  </div>

	  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
		<div class="icon-box">
		  <div class="icon"><i class="bx bx-tachometer"></i></div>
		  <h4><a href="">Magni Dolores</a></h4>
		  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
		</div>
	  </div>

	  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
		<div class="icon-box">
		  <div class="icon"><i class="bx bx-world"></i></div>
		  <h4><a href="">Nemo Enim</a></h4>
		  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
		</div>
	  </div>

	  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
		<div class="icon-box">
		  <div class="icon"><i class="bx bx-slideshow"></i></div>
		  <h4><a href="">Dele cardo</a></h4>
		  <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
		</div>
	  </div>

	  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
		<div class="icon-box">
		  <div class="icon"><i class="bx bx-arch"></i></div>
		  <h4><a href="">Divera don</a></h4>
		  <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
		</div>
	  </div>

	  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
		<div class="icon-box">
		  <div class="icon"><i class="bx bx-world"></i></div>
		  <h4><a href="">Nemo Enim</a></h4>
		  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
		</div>
	  </div>

	  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
		<div class="icon-box">
		  <div class="icon"><i class="bx bx-slideshow"></i></div>
		  <h4><a href="">Dele cardo</a></h4>
		  <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
		</div>
	  </div>

	  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
		<div class="icon-box">
		  <div class="icon"><i class="bx bx-arch"></i></div>
		  <h4><a href="">Divera don</a></h4>
		  <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
		</div>
	  </div>


	</div>

  </div>
</section>
</body>