<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link">
						<img src="../../../assets/idea-principal.svg" style="width: 48px; height: 48px; padding-bottom: 5px;">
						<h1 style="display: inline-block; font-weight: bold;">Principal</h1>
					</a>
				</li>
			</ul>
			<ul class="navbar-nav mx-auto">
				<li class="nav-item active">
					<a class="nav-link">
						<img src="../../../assets/profesor.svg" style="width: 48px; height: 48px;">
						<h1 style="display: inline-block; font-weight: bold; margin-right: 8px;">Profesor:</h1>
						<h2 style="display: inline-block;">{{identity.nombre}}</h2>
					</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link">
						<img src="../../../assets/correo.svg" style="width: 48px; height: 48px; padding-bottom: 8px;">
						<h1 style="display: inline-block; font-weight: bold; margin-right: 8px;">Correo:</h1>
						<h2 style="display: inline-block;">{{identity.email}}</h2>
					</a>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="btn linkNav" (click)="createExamen()">
						<img src="../../../assets/anadir.svg" style="width: 48px; height: 48px; padding-bottom: 5px;">
						<h1 style="display: inline-block; font-weight: bold;">Crear Exámen</h1>
					</a>
				</li>
				<li class="nav-item">
					<a class="btn linkNavSalir" (click)="logOut()">
						<img src="../../../assets/logout.svg" style="width: 48px; height: 48px; padding-bottom: 5px;">
						<h1 style="display: inline-block; margin-left:3px; font-weight: bold; color: palegreen;">Salir</h1>
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<section id="services" class="services">
		<div class="container">
			<br>
			<div class="section-title" data-aos="fade-up">
				<h2 id="tituloExamenes">EXÁMENES</h2>
			</div>
			<div class="row">
				<ng-container *ngFor="let examen of examenesImagenesList; index as i">
					<div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-ld-0">
						<div class="icon-box" (mouseover)="mouseEncimaCardExamen(i)" (mouseout)="mouseFueraCardExamen(i)">
							<img src='../../../assets/examen.svg' style="width: 128px; height: 128px; margin-top: -60px;">
							<br>
							<br>
							<h4 style="text-align: left; padding-bottom: -5px;">Descripción: </h4>
							<p style="text-align: left; font-size: 18px; max-width: 100%; text-overflow: clip;">{{examen.examen.descripcion}}</p> 
							<br>
							<h2 style="font-weight:bold; text-align: left; margin-bottom: -5px;">
								Cantidad de Preguntas:
								<p style="font-weight:normal; font-size: 18px; display: inline-block; max-width: 100%; text-overflow: clip;">{{examen.examen.cantidad_preguntas}}</p>
							</h2>
							<h2 style="font-weight:bold; text-align: left;">
								Nota máxima:
								<p style="font-weight:normal; font-size: 18px; display: inline-block; max-width: 100%; text-overflow: clip;">{{examen.examen.nota_maxima}}</p>
							</h2>
							<div style="text-align: left; margin-top: 20px; margin-bottom: -60px;">
								<button  mat-icon-button style="color:brown;" (click)="verExamen(examen.examen.id)">
									<img src={{examen.imagenes.ver}} style="width: 32px; height: 32px;">
									Ver
								</button>
								<br>
								<!--
								<button mat-icon-button color="primary">
									<img src={{examen.imagenes.editar}} style="width: 32px; height: 32px;">
									Editar
								</button>
								<br>-->
								<button mat-icon-button style="color:teal;" (click)="generarLink(examen.examen.id)">
									<img src={{examen.imagenes.link}} style="width: 32px; height: 32px;">
									Generar link para realizar examen
								</button>
								<br>
								<button mat-icon-button color="warn" (click)="deleteExamen(examen.examen.id, i)">
									<img src={{examen.imagenes.borrar}} style="width: 32px; height: 32px;">
									Borrar
								</button>
							</div>
						</div>
					</div>
				</ng-container>
			</div>
		</div>
	</section>
</body>