img.center{
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.fullWidth{
    display: block;
    margin: 0 auto;
    width: 70%;
}

.centro{
    text-align: center;
    font-weight: bold;
}

.titleInput{
    font-weight: bold;
    font-size: 20px;
}

.textAreaInput{
    resize: none;
    height: 60px;
    font-size: 15px;
}

#inputValoracion{
    font-size: 15px;
    height: 30px;
}

#botonesPregunta{
    text-align: center;
}

#guardarPregunta:enabled{
    margin-right: 10px;
    background-color: limegreen;
    color: white;
}

#guardarPregunta:enabled:hover{
    margin-right: 10px;
    background-color: white;
    color: limegreen;
}

#guardarPregunta:disabled{
    margin-right: 10px;
    background-color: gray;
    color: white;
}

#cancelarPregunta{
    margin-left: 10px;
    background-color: crimson;
    color: white;
}

#cancelarPregunta:enabled:hover{
    margin-left: 10px;
    background-color: white;
    color: crimson;
}

#botonAddOpcion, #botonEliminarUltimaOpcion{
    font-size: 12px;
}

#botonAddOpcion:disabled{
    color: white;
    background-color: gray;
}

#botonAddOpcion:enabled{
    color: white;
    background-color: seagreen;
}

#botonEliminarUltimaOpcion:disabled{
    color: white;
    background-color: gray;
}

#botonEliminarUltimaOpcion:enabled{
    color:white;
    background-color: tomato;
}